@import url("reset.css");
@import url("form.css");
@import url("nav.css");
@import url("notice.css");
body
{
    background-color: whitesmoke;
    font-family: sans-serif;
}
p#footer
{
    text-align: center;
    font-size: 10pt;
    color: #777;
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    margin-bottom: 10px;
    line-height: 1.3;
}
strong
{
    font-weight: bold;
}
.opcoes img
{
    margin: 0 10px;
}